@import 'mixins';
@import 'gradients';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    overflow: hidden;
    padding: 20px;
    background: @blue-gradient-100;

    .auth-layout {
        flex: 1;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        padding: 48px;
        backdrop-filter: blur(12px);
        background: @glass-gradient-100;
        border: 1px solid @glass-gradient-200;

        .media(@media-md, {
            padding: 24px 30px;
            border-radius: 16px;
        });

        .media(@media-xs, {
            padding: 24px;
        });

        .logo {
            margin-bottom: 20px;
        }
    }
}