<cpd-default-header/>

<div class="content">

    <cpd-base-navigation/>

    <main tuiNavigationMain class="main">
        <nav
            compact
            tuiSubheader
            class="nav"
        >
            <tui-breadcrumbs [itemsLimit]="5">
                @for (item of breadcrumbs(); track item.name) {
                    @if ($last) {
                         <strong
                            *tuiItem
                            tuiFade
                        >
                            {{ item.name }}
                        </strong>
                    } @else {
                        <button
                            *tuiItem
                            tuiLink
                            [routerLink]="item.url"
                            type="button"
                        >
                            {{ item.name }}
                        </button>
                    }
                }
            </tui-breadcrumbs>

            <div class="actions">
                  <button
                    tuiButton
                    tuiDropdownOpen
                    tuiDropdownLimitWidth="fixed"
                    tuiChevron
                    type="button"
                    appearance="accent"
                    [tuiDropdown]="dropdown"
                >
                    Экспорт
                </button>

                <button
                    appearance="primary"
                    iconStart="@tui.plus"
                    tuiButton
                    type="button"
                >
                    Создать
                </button>
            </div>
        </nav>

        <div class="page">
            <router-outlet/>
        </div>

        @if (isContentLoading()) {
            <div class="loader">
                <tui-loader size="m" class="loader" />
            </div>
        }
    </main>
</div>

<ng-template #dropdown>
    <tui-data-list size="m" role="menu">
        <button
            tuiOption
            type="button"
        >
            JSON
        </button>

        <button
            tuiOption
            type="button"
        >
            CSV
        </button>
    </tui-data-list>
</ng-template>
  