<cpd-default-header/>

<div class="content">

    <cpd-base-navigation/>

    <main tuiNavigationMain>
        <nav
            compact
            tuiSubheader
            class="nav"
        >
          <tui-breadcrumbs [itemsLimit]="5">
                @for (item of breadcrumbs(); track item.name) {
                    @if ($last) {
                         <strong
                            *tuiItem
                            tuiFade
                        >
                            {{ item.name }}
                        </strong>
                    } @else {
                        <button
                            *tuiItem
                            tuiLink
                            [routerLink]="item.url"
                            type="button"
                        >
                            {{ item.name }}
                        </button>
                    }
                }
            </tui-breadcrumbs>
        </nav>

        <div class="page">
            <router-outlet/>
        </div>
    </main>
</div>
